@model ResetPasswordVM
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="signup">
    <div class="container1">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form asp-controller="Account" asp-action="ResetPassword" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="pass"><i class="ri-lock-2-fill"></i></label>
                        <input asp-for="Password" id="pass" placeholder="Password" required />
                        <span asp-validation-for="Password" style="color: red"> </span>
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="ri-lock-unlock-fill"></i></label>
                        <input asp-for="ConfirmPassword" id="re_pass" placeholder="Repeat your password" required />
                        <input type="hidden" asp-for="Token" />
                        <input type="hidden" asp-for="UserId" />
                        <span asp-validation-for="ConfirmPassword" style="color: red"> </span>
                    </div>
                    <div class="form-group form-button">
                        <button type="submit" id="signup" class="btn btn-primary" value="Register">Register</button>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="~/assets/img/signing/signup-image.jpg" alt="sing up image"></figure>
                <a href="#" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="img/logo.png" alt="">
        <h4>Contact</h4>
        <p><strong>Adress:</strong> Neftchilar , New Yasamal, San Fransisco</p>
        <p><strong>Phone:</strong> 055 555 55 55 +9945555555</p>
        <p><strong>Hours:</strong> 10:00 - 18:00, Mon-Sat</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="ri-facebook-fill"></i>
                <i class="ri-twitter-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-pinterest-fill"></i>
                <i class="ri-youtube-fill"></i>
            </div>
        </div>
    </div>


    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>

    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="~/assets/img/signing/pay/app.jpg" alt="">
            <img src="~/assets/img/signing/pay/play.jpg" alt="">
        </div>
        <p>Secured Payment Gateways</p>
        <img src="~/assets/img/signing/pay/pay.png" alt="">
    </div>

    <div class="copyright">
        <p>2021, Tech2 etc - Final Project by Ramil Nabran</p>
    </div>
</footer>

@section css {
    <link href="~/assets/sign-up.css" rel="stylesheet" />
}
}

